.cases
  margin-top 3em
  @extend .row
  
.work-item
  float left
  width calc(100% - 20px)
  margin 0 10px 20px
  opacity 0
  transform translateY(-10px)
  animation fadein 0.6s 0.5s 1 forwards ease
  overflow hidden
  display inline-block
  position relative
  
  +widerthan($bp-tablet-start)
    width calc(50% - 20px)
  
  a
    border none
  
  &:hover
    img
      transform scale3d(1.02, 1.02, 1)
  
  img
    display block
    transition transform 250ms ease
    transform scale3d(1, 1, 1)
  
  &:nth-child(1)
    animation-delay 0.7s
  
  &:nth-child(2)
    animation-delay 0.8s
  
  &:nth-child(3)
    animation-delay 0.9s
  
  &:nth-child(4)
    animation-delay 1.0s
  
  &:nth-child(5)
    animation-delay 1.1s
  
  &:nth-child(6)
    animation-delay 1.2s
  
  &__caption
    position absolute
    width 100%
    top 0
    left 0
    right 0
    bottom 0
    height 100%
    background rgba(75, 67, 77, 0.9)
    opacity 0
    transition all 250ms ease
    text-align center
    color white
    
    div
      display table
      position relative
      height 100%
      width 100%
      
      &:hover
        h3
          top 0
          opacity 1
          
        h3:after
          width 40%
    
    h3
      font-weight 400
      position relative
      display table-cell
      vertical-align middle
      padding 0 0 4px
      margin 0
      font-size 1.3em
      top 10px
      opacity 0
      transition all 0.2s ease
      
      
      &:after
        position absolute
        content ''
        left 0
        right 0
        bottom calc(50% - 20px)
        text-align center
        margin auto
        width 0%
        height 2px
        background darken(#B5E51D, 5%)
        transition all 500ms ease
        max-width 150px
  
  &:hover &__caption
    opacity 1

.case-intro
  contain()
  margin-bottom 4em
  @extend .row

.case-title
  @extend .col
  @extend .col-laptop-and-up-6
  
  h1
    font-size 2.2em
  
  h4
    font-family $base-font-family
    font-size 1em
    opacity 0.6

.case-desc
  @extend .col
  @extend .col-laptop-and-up-6

body.work
  img
    margin-top 1em
    
    &:first-of-type
      margin-top 0
