.cases
  margin-top 3em
  @extend .row
  
.work-item
  @extend .col
  @extend .col-mobile-12
  @extend .col-laptop-and-up-6
  margin 0 auto 30px auto
  opacity 0
  transform translateY(-10px)
  animation fadein 0.6s 0.5s 1 forwards ease-in-out
  position relative
  
  img
    display block
  
  &:nth-child(1)
    animation-delay 0.5s
  
  &:nth-child(2)
    animation-delay 0.6s
  
  &:nth-child(3)
    animation-delay 0.7s
  
  &:nth-child(4)
    animation-delay 0.8s
  
  &:nth-child(5)
    animation-delay 0.9s
  
  &:nth-child(6)
    animation-delay 1.0s
  
  &__caption
    position absolute
    width calc(100% - 30px)
    top 0
    left 15px
    right 0
    bottom 0
    background rgba(75, 67, 77, 0.9)
    opacity 0
    transition all 0.2s ease-in-out
    text-align center
    color white
    
    h3
      position absolute
      padding 0 0 4px
      margin 0
      top 50%
      left 50%
      font-size 1.2em
      transform translate(-50%, -50%)
      border-bottom 1px solid darken(#B5E51D, 5%)
  
  &:hover &__caption
    opacity 1
