.overlay
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  padding 1em
  background-color darken($overlay-bg-color, 5%)
  color white
  visibility hidden
  opacity 0
  transition transform 0.2s ease, opacity 0.2s ease, visibility 0s 0.2s ease
  z-index 2000
  
  &.is-open
    visibility visible
    opacity 1
    transition transform 0.2s ease, opacity 0.2s ease
  
  a
    color lighten($overlay-bg-color, 50%)
    text-decoration none
    transition color 0.15s ease
    border-bottom none
    
    &:hover
      color lighten($overlay-bg-color, 30%)

.overlay-wrap
  height 100%
  width 100%

.overlay.is-open
  .overlay-wrap
    overflow-y scroll
    -webkit-overflow-scrolling touch

.trigger-overlay
  position absolute
  top 0
  right 0
  font-size 1rem
  font-weight 400
  border-bottom none
  color darken(#878F9F, 30%)
  
  &:hover
    border-bottom none
    color darken(#878F9F, 0%)
  
  h3
    line-height 50px

.overlay-close
  position absolute
  top 2rem
  right 2rem
  z-index 200
  font-size 1rem
  font-weight 400
  cursor pointer
  
  h3
    line-height 50px
  
  +widerthan($bp-desk-start)
    top 4rem
    right 4rem

.about-info
  clearfix()
  margin-top 4em
  
  +widerthan($bp-tablet-start)
    margin-top 0
    vert-center()
  
