.case-intro
  .case-title
    h1 John &amp; Alex
    h4 Branding, Print Materials

  .case-desc
    p
      | For my own wedding, I seized the opportunity to be my own brand identity client. With a limited budget, I decided to challenge myself and see if I could completely DIY the printing process. Using a combination of craft supplies, inkjet printing, and rubber stamping I was able to achieve the warm and inviting tone that I was looking for.

.img-band.img-band--grey
  .container.container--large
    img(src="/images/john-and-alex/1.jpg")
    img(src="/images/john-and-alex/2.jpg")
    img(src="/images/john-and-alex/3.jpg")

.img-band.img-band--dark
  .container.container--large
    img(src="/images/john-and-alex/4.png")
