.case-intro
  .case-title
    h1 Minbox
    h4 Lead Design, Front-End Development

  .case-desc
    p
      | Sending files can be a pretty miserable experience. Anyone who has tried to navigate email attatchment limits, fussy third-party software, and expensive storage limits knows this. Minbox takes the pain out of file transfers by offering a fast, free, and dead-simple way to send files without limits.
    p
      a.action(href="http://minbox.com" target="_blank") Visit the site

.img-band.img-band--grey.pb0.pt1
  .container.container--large
    img(src="/images/minbox/send-flow.png")

.img-band
  .container.container--large
    img(src="/images/minbox/web-galleries.png")

.img-band.img-band--dark
  .container.container--large
    img(src="/images/minbox/collections-overview.png")
