.case-intro
  .case-title
    h1 Streamnation
    h4 Lead Design, Front-End Development

  .case-desc
    p
      | Streamnation is the cloud library for all your media. With Streamnation, all your movies, TV shows, music, and photos are available on all your devices without having to worry about storage limits. And just like in the physical world, Streamnation allows you to share, lend, and borrow media with your friends.
    p
      | As lead designer, I helped establish a consistent visual language, refine and iterate existing product experience, and design/develop product features.
    p
      a.action(href="http://streamnation.com" target="_blank") Visit the site

.img-band.img-band--blue.pb0
  .container.container--large
    img(src="/images/streamnation/tv-shows.png")

.img-band.img-band--dark
  .container.container--large
    img(src="/images/streamnation/mobile.png")

.img-band
  .container.container--large
    img(src="/images/streamnation/tv-show.png")

.img-band.img-band--blue
  .container.container--large
    img(src="/images/streamnation/mosaic.png")
