.case-intro
  .case-title
    h1 Uservoice
    h4 Product Design, Front-End Development

  .case-desc
    p
      | Uservoice provides feedback, helpdesk, and knowledgebase management tools that empower users to speak and companies to listen.
    p
      | During my time as a product designer, I helped design and develop a suite of reporting tools that enable customers to see how well their support teams are performing, identify areas for improvement, and keep their customers happy. I also lead a revamp of the marketing site.
    p
      a.action(href="http://uservoice.com" target="_blank") Visit the site

.img-band.pt0
  .container.container--large
    img(src="/images/uservoice/support-performance.png")

.img-band.img-band--dark
  .container.container--large
    img(src="/images/uservoice/report-sat.png")
    img(src="/images/uservoice/report-ticket-insights.png")

.img-band
  .container.container--large
    img(src="/images/uservoice/product-tour-1a.png")

.img-band.img-band--grey
  .container.container--large
    img(src="/images/uservoice/product-tour-2a.png")
