// $overlay-bg-color = #372E39
$overlay-bg-color = #2A2D34

/*------------------------------------*\
    $BREAKPOINTS (revisit)
\*------------------------------------*/
$bp-screen-xs = 320px
$bp-screen-sm = 600px
$bp-screen-tablet = 768px
$bp-screen-md = 900px
$bp-screen-lg = 1170px
$bp-screen-tall = 800px
$bp-screen-short = 500px
$bp-screen-tablet-max = $bp-screen-tablet - 1
$bp-screen-md-max = $bp-screen-md - 1

/*------------------------------------*\
    $GRID
\*------------------------------------*/
$grid-total-columns = 12
$grid-gutter-width = 15px
$grid-max-width = 1170px
$grid-percentage = 88%
$grid-container-sm = 570px
$grid-container-med = 770px
$bp-xsmall-start = 320px
$bp-tablet-start = 601px
$bp-desk-start = 1024px
$bp-desk-wide-start = 1170px
$bp-tablet-end = $bp-desk-start - 1px
$bp-small-start = $bp-tablet-start - 1px
