header
  //- img(src="images/logo.png", alt="Pixelshift logo", height="37", width="50")
  img(src="images/logo.svg", alt="", width="50")
  button#js-trigger-overlay.trigger-overlay(type="button")
    h3 About
