.overlay
  button.overlay-close
    h3 Close
  .about-info
    .container
      .row
        .about-right
          img.avatar(src="images/me4.jpg", alt="")
          //- p
          //-   | Maecenas nec risus volutpat, placerat velit a, efficitur nunc. Cras commodo aliquet tincidunt. Nulla facilisi. Sed bibendum purus viverra, rutrum.

        .about-left
          //- h1
          //-   | Designer. <br>
          //-   | Parallel Parking Prodigy.
          p
            | John is a multidisciplinary designer in New York City focused on building exceptional products. Previously, he was Lead Designer at Minbox and StreamNation, and before that was a Product Designer at Uservoice. Some time before that, he delivered buffalo wings to thankless college students. His work is usually digital, occasionally analog, and always full of heart. John lives in Brooklyn with his lovely wife, french bulldog, and crippling burrito addiction.
          ul.social
            li
              a(href="mailto:bjerkeweb@gmail.com") Email
              span.slash /
            li
              a(href="http://twitter.com/misterbjerke") Twitter
              span.slash /
            li
              a(href="http://dribbble.com/johnbjerke") Dribbble 
              span.slash /
            li
              a(href="http://instagram.com/misterbjerke") Instagram 
