h1.hero
  | <strong>John Bjerke&mdash;</strong> <br>
  | Product and Interface Design <br>

p.intro
  | I'm a product designer 

.cases
  ul
    li
      img(src="images/grid-minbox.png", alt="")
    li
      img(src="images/grid-uservoice.png", alt="")
    li
      img(src="images/grid-john-and-alex.png", alt="")
    li
      img(src="images/grid-minbox.png", alt="")
    li
      img(src="images/grid-minbox.png", alt="")
    li
      img(src="images/grid-minbox.png", alt="")
    //- li
    //-   img(src="images/grid-streamnation.png", alt="")
    //- li
    //-   img(src="images/grid-uservoice.png", alt="")
    //- li
    //-   img(src="images/grid-john-and-alex.png", alt="")
    //- li
    //-   img(src="images/grid-minbox.png", alt="")
    //- li
    //-   img(src="images/grid-streamnation.png", alt="")
    //- li
    //-   img(src="images/grid-minbox.png", alt="")
    //- li
    //-   img(src="images/grid-streamnation.png", alt="")
