.overlay
  .overlay-wrap
    button.overlay-close
      h3 Close
    .about-info
      .container
        .row
          .about-left
            h4 About

          .about-right
            //- img.avatar(src="images/me2.jpg", alt="")
            p
              | Hi I'm John. I’m a designer in New York City focused on building exceptional products.
            p
              | I’ve had the good fortune to solve problems alongside great people at companies including 
              a(href="http://canary.is") Canary
              | , 
              a(href="http://compass.com") Compass
              | , 
              a(href="http://minbox.com") Minbox
              | , and 
              a(href="http://uservoice.com") Uservoice
              | .
            p
              | I live in Brooklyn with my lovely wife, 
              a(href="https://instagram.com/p/1f7XJoJS7X/") french bulldog
              | , and unreasonably strong opinions about Mexican food.
            p
              | Interested in working together? Let's chat.
            ul.social
              li
                a(href="mailto:bjerkeweb@gmail.com") Email
                span.slash /
              li
                a(href="http://twitter.com/misterbjerke") Twitter
                span.slash /
              li
                a(href="http://dribbble.com/johnbjerke") Dribbble
                span.slash /
              li
                a(href="http://instagram.com/misterbjerke") Instagram
