h1.hero
  | John is a designer <br> based in NYC.

p.intro
  | Creating interfaces and wrangling code&mdash;most recently at 
  a(href="http://canary.is") Canary
  | . <br> Currently available for new opportunities.

.cases
  .work-item
    a(href="")
      img(src="images/grid-minbox.png", alt="")
      .work-item__caption
        div          
          h3 Minbox

  .work-item
    a(href="#")
      img(src="images/grid-streamnation.png", alt="")
      .work-item__caption
        div
          h3 Streamnation

  .work-item
    a(href="#")
      img(src="images/grid-uservoice.png", alt="")
      .work-item__caption
        div
          h3 Uservoice

  .work-item
    a(href="#")
      img(src="images/grid-john-and-alex.png", alt="")
      .work-item__caption
        div
          h3 John and Alex
