// Import Vendor 
@import '_styl/vendor/normalize'

// Import partials
@import '_styl/fonts'
@import '_styl/variables'
@import '_styl/mixins'
@import '_styl/utilities'
@import '_styl/animations'
@import '_styl/globals'
@import '_styl/typography'
@import '_styl/grid'
@import '_styl/overlay'

@import '_styl/cases'
@import '_styl/header'
@import '_styl/footer'

.about-info
  font-size 1.1em
  
  h4
    line-height 1
    
    +widerthan($bp-tablet-start)
      padding-left 25%

  +widerthan($bp-tablet-start)
    padding-left 1em
    padding-right 1em

.about-left
  @extend .col
  @extend .col-laptop-and-up-4
  
  +widerthan($bp-tablet-start)
    padding-left 0
  
  p
    max-width 700px
    
    &:first-of-type
      margin-top 0

.about-right
  @extend .col
  @extend .col-laptop-and-up-8
  
  p
    max-width 600px
    
    &:first-of-type
      margin-top 0

.social
  list-reset()
  margin-top 2em
  
  .slash
    margin 0 6px
    opacity 0.3
  
  li
    display inline-block

.explode
  max-width none !important
