// Import Vendor 
@import '_styl/vendor/normalize'

// Import partials
@import '_styl/variables'
@import '_styl/mixins'
@import '_styl/animations'
@import '_styl/globals'
@import '_styl/grid'
@import '_styl/overlay'

@import '_styl/cases'
@import '_styl/header'
@import '_styl/footer'

.avatar
  max-width 200px
  // border-radius 50%
  margin-bottom 1.4em

.about-info
  font-size 1.2em

.about-left
  @extend .col
  @extend .col-laptop-and-up-6
  
  +widerthan($bp-tablet-start)
    padding-left 25%
  
  p
    max-width 700px
    
    &:first-of-type
      margin-top 0

.about-right
  @extend .col
  @extend .col-laptop-and-up-6
  
  p
    max-width 700px
    
    &:first-of-type
      margin-top 0

.social
  list-reset()
  margin-top 2em
  
  .slash
    margin 0 6px
    opacity 0.3
  
  li
    display inline-block
